<div class="gameResults">
    <h2>Hooray {{name}}! You have reached {{score}} points!</h2>
    <div>
        <h3>Leaderboard</h3>
        <p>1. {{u1Name}}   {{u1Score}}</p>
        <p>2. {{u2Name}}   {{u2Score}}</p>
        <p>3. {{u3Name}}   {{u3Score}}</p>
        <p>4. {{u4Name}}   {{u4Score}}</p>
    </div>
    <a class="btn btn-primary" href="/trivia/0/0" type="button">Tap to Play Again?</a>
    <a class="btn btn-primary" href="/logout" type="button">Log Out</a>

</div>
{{!-- </div> --}}
