{{! when the user is on Welcome screen and button 'Tap to Play' is pressed, 
routes to '/triviaQuestionsAnswers' and display this handlebar with quetsions and answers
}}

<div class="trivia">
  <h1>{{{question}}}</h1>
  <div id="answersBox">
    <button {{#if a1Right}} class="answer" {{else}} class="wrong"{{/if}}>{{{a1}}}</button>
    <button {{#if a2Right}} class="answer" {{else}} class="wrong"{{/if}}>{{{a2}}}</button>
    <button {{#if a3Right}} class="answer" {{else}} class="wrong"{{/if}}>{{{a3}}}</button>
    <button {{#if a4Right}} class="answer" {{else}} class="wrong"{{/if}}>{{{a4}}}</button>
  </div>
</div>