{{! when the user is on Welcome screen and button 'Tap to Play' is pressed, 
routes to '/triviaQuestionsAnswers' and display this handlebar with quetsions and answers
}}
<div class="container">
<div class="trivia">
  <h1 class="questions">{{{question}}}</h1>
    <div id="answersBox">
      <a type="button"  data-bs-toggle="popover" {{#if a1Right}} href="/trivia/{{attempted}}/{{corrInc}}" class="btn btn-secondary answer" type="button"  title="Correct!" data-bs-content="Nice job!" aria-expanded="false" aria-controls="collapseRight"{{else}} class="btn btn-secondary wrong" type="button" title="Incorrect!" data-bs-content="No points!" aria-expanded="false" aria-controls="collapseWrong" href="/trivia/{{attempted}}/{{correct}}"{{/if}}>{{{a1}}}</a>
      <a type="button"  data-bs-toggle="popover" {{#if a2Right}} href="/trivia/{{attempted}}/{{corrInc}}" class="btn btn-secondary answer" type="button"  title="Correct!" data-bs-content="Nice job!" aria-expanded="false" aria-controls="collapseRight"{{else}} class="btn btn-secondary wrong" type="button" title="Incorrect!" data-bs-content="No points!" aria-expanded="false" aria-controls="collapseWrong" href="/trivia/{{attempted}}/{{correct}}"{{/if}}>{{{a2}}}</a>
      <a type="button"  data-bs-toggle="popover" {{#if a3Right}} href="/trivia/{{attempted}}/{{corrInc}}" class="btn btn-secondary answer" type="button"  title="Correct!" data-bs-content="Nice job!" aria-expanded="false" aria-controls="collapseRight"{{else}} class="btn btn-secondary wrong" type="button" title="Incorrect!" data-bs-content="No points!" aria-expanded="false" aria-controls="collapseWrong" href="/trivia/{{attempted}}/{{correct}}"{{/if}}>{{{a3}}}</a>
      <a type="button"  data-bs-toggle="popover" {{#if a4Right}} href="/trivia/{{attempted}}/{{corrInc}}" class="btn btn-secondary answer" type="button"  title="Correct!" data-bs-content="Nice job!" aria-expanded="false" aria-controls="collapseRight"{{else}} class="btn btn-secondary wrong" type="button" title="Incorrect!" data-bs-content="No points!" aria-expanded="false" aria-controls="collapseWrong" href="/trivia/{{attempted}}/{{correct}}"{{/if}}>{{{a4}}}</a>
    </div>

    {{!-- <a class="btn btn-primary" href="/trivia/{{attempted}}/{{corrInc}}" type="button">Next</a> --}}
</div>
</div>
  <div class="end-game" >
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#GameModal">End Game</button>
  </div>

<div class="modal fade" id="GameModal" tabindex="-1" aria-labelledby="GameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="GameModalLabel">Instructions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to stop playing?</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <a class="btn btn-secondary" data-bs-dismiss="modal" href="gamessults/:attempted/:correct">Yes</a>
      </div>
    </div>
  </div>
</div>
</div>



{{#if a1Right}}
<div class="collapse" id="collapseRight">
  <div class="card card-body">
    Correct! 10 points have been added!
  </div>
</div>
{{else}}
<div class="collapse" id="collapseWrong">
  <div class="card card-body">
    Incorrect! Try Again
  </div>
</div>
{{/if}}

{{#if a2Right}}
<div class="collapse" id="collapseRight">
  <div class="card card-body">
    Correct! 10 points have been added!
  </div>
</div>
{{else}}
<div class="collapse" id="collapseWrong">
  <div class="card card-body">
    Incorrect! Try Again
  </div>
</div>
{{/if}}

{{#if a3Right}}
<div class="collapse" id="collapseRight">
  <div class="card card-body">
    Correct! 10 points have been added!
  </div>
</div>
{{else}}
<div class="collapse" id="collapseWrong">
  <div class="card card-body">
    Incorrect! Try Again
  </div>
</div>
{{/if}}

{{#if a4Right}}
<div class="collapse" id="collapseRight">
  <div class="card card-body">
    Correct! 10 points have been added!
  </div>
</div>
{{else}}
<div class="collapse" id="collapseWrong">
  <div class="card card-body">
    Incorrect! Try Again
  </div>
</div>
{{/if}}


{{!--<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
</script>
{{!-- <script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script> --}}--}}

<script>
$(document).ready(function(){
    $('[data-bs-toggle="popover"]').popover();  
});
</script>



